<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cp.license.trans.dao.Rec_STMapper">
	<cache />
	<select id="findByName"
		resultType="com.cp.license.trans.model.Rec_ST">
		select r.* from (select Id from license where name=#{name}) l left join license_rec_st lr on
		l.Id=la.LicenseId left join rec_st r on la.RecoverId=r.Id
	</select>
</mapper>